.album-container-profile {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    }

    .all-albums-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    }

    .link-to-album {
    width: 420px;
    height: 280px;
    box-sizing: border-box;
    }

    .span-tag-album-name-link {
    width: 25.5em;
    font-weight: bold;
    margin-top: .50em;
    word-wrap: break-word;
    }

    .album-showroom-container {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

.album-name-and-buttons {
    display: flex;
    flex-direction: column;
    margin-top: .5em;
    padding-left: .5em;
    gap: .5em;
    margin-bottom: 1em;
}

.album-edit-delete-buttons {
    display: flex;
    flex-direction: row;
    border: none;
    margin-top: 20px;
    gap: .5em;
    padding-top: .1em;
}

.edit-delete-buttons-albums {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.add-album-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-to-add-album {
    margin-top: .16em;
    background: none;
    border: none;
    font-size: 1.75em;
    font-weight: lighter;
    color: rgb(99, 99, 99);
}

.button-to-add-album:hover {
    cursor: pointer;
    color: black;
}

.add-album-icon {
    width: 30px;
    height: 30px;
    color: rgb(99, 99, 99);
    padding-left: 25px;
}
