.photostream-container-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 100px;
    }

    .profile-photostream-photos {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: -20px;
    }

    .user-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: -.5em;
    }

    .no-images-uploaded {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5em;
    }

    .upload-here-profile {
    text-decoration: none;
    color: rgb(0, 130, 199);
    transition: color 0.3s ease;
    }

    .upload-here-profile:hover {
    color: rgb(19, 144, 212);
    }
