.user-information-profile {
    margin-top: -120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    color: white;
}

.username-followers-following {
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: .85em;
    padding-left: 26px;
    box-sizing: border-box;
}

.full-name-span-profile {
    font-size: 2em;
    font-weight: 200;
    box-sizing: border-box;
    /* padding-top: -1em; */
    margin-top: -10px;
    color: white;
}

.edit-button-profile-info {
    background: none;
    color: white;
    border: none;
    font-size: 1em;
    padding-top: 2.25em;
    box-sizing: border-box;
}

.full-name-and-button {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1.4em;
    margin-bottom: .5em;
    font-weight: 200;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 100%;
    padding-left: 20px;
}

.profile-picture-profile-page {
    height: 90px;
    width: 90px;
    box-sizing: border-box;
    border-radius: 5em;
    object-fit: cover;
}

/* .profile-picture-div-profile {
    height: 7%;
    width: 7%;
    box-sizing: border-box;
    padding-top: .5em;
} */

.mid-navbar-profile-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    margin-left: 10.5em;
    padding-top: 1em;
    gap: 1.5em;
}

.mid-navbar-links-profile,
.mid-navbar-links-profile-in-dev {
    text-decoration: none;
    color: rgb(99, 99, 99);
}

.mid-navbar-links-profile-in-dev {
    cursor: not-allowed;
}

.mid-navbar-links-profile-active {
    text-decoration: none;
}

.mid-navbar-links-profile:hover,
.mid-navbar-links-profile-in-dev:hover,
.mid-navbar-links-profile-active {
    color: black;
    border-bottom: .2em solid rgb(0, 145, 220);
    padding-bottom: 1em;

}

.about-container-profile {
    display: flex;
    justify-content: center;
}

.email-joined-on {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
