.image-container-showroom {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    background-color: rgb(33, 33, 36);
}

.showroom-image {
    padding-top: 1em;
    width: 60%;
    padding-bottom: 1em;
    margin: auto;
    max-width: 100%;
}

.showroom-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-explore-link {
    text-decoration: none;
    color: white;
    font-size: .825em;
    padding-top: .15em;

}

.back-to-explore-link-div {
    display: flex;
    flex-direction: row;
    padding-left: 2em;
    color: white;
    gap: .5em;
    text-decoration: none;
}

.back-to-explore-link-div:hover {
    text-decoration: underline;
}

.icons-for-showroom-image {
    display: flex;
    color: white;
    margin-bottom: 1em;
    gap: 1.5em;
    padding-right: 2em;

}

.bottom-of-showroom-image {
    display: flex;
    justify-content: flex-end;

}

.profile-picture-pro-showroom {
    display: flex;
    flex-direction: column;

}

.rest-of-showroom-container {
    padding-top: 1em;
    background-color: rgb(243, 245, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-picture-showroom {
    height: 3em;
    width: 3em;
    border-radius: 5em;
    margin: 1.5em;
}

.profile-username-title-follow {
    display: flex;
    align-items: center;
    /* padding: auto; */
    margin-left: -34em;
}

.username-title-showroom {
    padding-top: .4em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-weight: 600;
    /* margin-left: -2em; */
}

.follow-button-showroom {
    color: white;
    background-color: rgb(18, 143, 220);
    border: none;
    padding: .25em 1em;
    font-size: .85em;
    font-weight: bold;
    border-radius: .15em;
}

.description-showroom-span {
    font-weight: lighter;

}


.username-follow-button-div-showroom {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.username-image-showroom-link {
    text-decoration: none;
    color: black;
}

.username-image-showroom-link:hover {
    color: rgb(0, 117, 179);
    text-decoration: underline;
}


.under-dev-follow-button {
    font-size: .75em;
    padding-left: .5em;
    text-decoration: underline;
}

.edit-delete-button-image-showroom-div {
    display: flex;
    flex-direction: row;
    gap: .75em;
    position: relative;
}

.delete-image {
    height: 25px;
    width: 25px;
    position: relative;
}

.edit-image {
    height: 25px;
    width: 25px;
    position: relative;
}

.edit-delete-button-image-showroom {
    background: none;
    border: none;
    color: white;
    font-size: .9em;

}

.edit-delete-button-image-showroom:hover {
    transform: scale(1.2);
}

.image-tags-showroom-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.tag-links {
    text-decoration: none;
    color: rgb(0, 130, 199);
}

.tag-links:hover {
    text-decoration: underline;
    color: rgb(4, 151, 230);
}

.lower-half-of-image-showroom {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 5em;
}


.left-side-of-lower-half {
    display: flex;
    flex-direction: column;
    width: 45em;
    border-right: .1em solid rgb(207, 214, 217);
}


.comment-div-showroom {
    display: flex;
    flex-direction: column;
    margin-left: 6em;
}


.link-for-users-comments {
    text-decoration: none;
    color: rgb(5, 58, 137);
    margin-left: -0.9em;
}

.link-for-users-comments:hover {
    text-decoration: underline;
}

.span-tag-comment-header {
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: 600;
    padding-left: 4em;
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}

.single-comment-body-with-buttons {
    display: flex;
    flex-direction: row;
    width: 38em;
    gap: .5em;
}

.photo-no-exist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
}

.h2-404-error {
    font-weight: 400;
}

.h3-404-error {
    font-weight: 300;
}

.a404-link-to-explore {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 130, 199);
}
