.logout-button {
    margin-top: 25px;
    margin-left: 55px;
    width: 40%;
    height: 2em;
    border-radius: .2em;
    border: none;
    background-color: rgb(50, 150, 217);
    color: rgb(255, 255, 249);
    font-weight: 300;
    cursor: pointer;
}
